@media (max-width:760px) {
    .hiMessage>div {
        font-size: 40px;
    }

    .aboutMe,
    .skilss {
        flex-direction: column;
        padding: 10px;
    }

    .aboutMe>img {
        display: none;
    }

    .rocket {
        display: none;
    }
}

@media (max-width:450px) {

    video,
    iframe,
    .BMO {
        display: none;
    }

    .namePerson {
        background-image: url(IMG/mars.jpg);
        background-size: cover;
    }

    .hiMessage>div {
        font-size: 26px;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .aboutMe {
        opacity: 1 !important;

    }

    .aboutMe,
    .skilss {
        width: 100%;
        margin: 0;

    }

    .contactMe {
        margin-top: 10px;
        padding: 0;
    }

    .namePerson {
        background-attachment: fixed;
    }

    .aboutMe,
    .skilss,
    .contactMe {
        height: fit-content;
        width: 90%;
        margin-inline: auto;
        animation-name: none !important;
    }

    .aboutMeAndSkills {
        height: fit-content;
        background-image: none;
    }

    .aboutMe>div>div {
        font-size: 16px;
        max-width: 396px;
    }

    .languageAndFr>div {
        width: 46%;
        font-size: 10px;
    }

    .aboutMe>div>span,
    .skilss h1 {
        font-size: 20px;
    }

    .skilss {
        margin-top: 10px;
        padding-bottom: 10px;
    }

    .iconContact {
        width: 100%;
    }

    .iconContact>h1 {
        font-size: 20px;
    }

    .iconContact img {
        height: 35px;
    }

    .codedBy {
        height: 40px;
        margin-top: 40px;
    }
}